@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 76% 12%;
    --card: 0 0% 100%;
    --card-foreground: 224 76% 12%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 76% 12%;
    --primary: 262 84% 59%;
    --primary-foreground: 0 0% 98%;
    --secondary: 220 14% 96%;
    --secondary-foreground: 224 76% 22%;
    --muted: 220 14% 96%;
    --muted-foreground: 220 9% 46%;
    --accent: 220 14% 96%;
    --accent-foreground: 224 76% 22%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262 84% 59%;
    --chart-1: 262 84% 59%;
    --chart-2: 220 74% 66%;
    --chart-3: 160 74% 46%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.75rem;

    --sidebar-background: 226 94% 98%;
    --sidebar-foreground: 224 76% 12%;
    --sidebar-primary: 262 84% 59%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 220 14% 94%;
    --sidebar-accent-foreground: 224 76% 12%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 262 84% 59%;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 210 20% 98%;
    --card: 224 71% 9%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 210 20% 98%;
    --primary: 262 84% 59%;
    --primary-foreground: 0 0% 98%;
    --secondary: 220 14% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 220 14% 15%;
    --muted-foreground: 220 9% 55%;
    --accent: 220 14% 15%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 22%;
    --input: 220 13% 22%;
    --ring: 262 84% 59%;
    --chart-1: 262 84% 59%;
    --chart-2: 220 74% 66%;
    --chart-3: 160 74% 46%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --sidebar-background: 224 71% 6%;
    --sidebar-foreground: 210 20% 95%;
    --sidebar-primary: 262 84% 59%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 220 14% 12%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 220 13% 22%;
    --sidebar-ring: 262 84% 59%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
